<section id="sobre" class="container rounded-4 mt-5 p-3">

  <article class="d-flex justify-content-between align-itens-center mb-2">

    <div class="d-flex flex-column ps-3 border-start border-white border-3">
      <p class="text-white fs-2">Sobre Mim</p>
      <span class="text-white fw-bolder fs-1 lh-sm">Sou um Desenvolvedor</span>
      <span class="text-white fw-bolder fs-1 lh-sm">Fullstack</span>
      <p class="text-white fs-5 mt-4">
        Olá, meu nome é Alexandre Rech, sou apaixonado por tecnologia há mais de 20 anos. Comecei codando, me tornei arquiteto de software, depois gestor de
        equipes e projetos, e hoje sigo minha jornada empreendendo na Academia do Programador — uma escola que já formou mais de
        400 pessoas e ajudou muita gente a dar o primeiro passo no mercado de TI.

        Sou formado em Sistemas de Informação e tenho Especialização em Engenharia de Software — e claro, continuo estudando
        porque tecnologia nunca para!

        Hoje, meu foco é transformar vidas por meio da educação tech. Acredito que todo mundo pode aprender a programar e mudar
        de vida com isso. E quando não tô no meio de código, aula ou projeto, gosto de estar com a minha família, jogar video
        game com a minha filha, jogar futebol, correr ou fazer qualquer atividade física

        Tenho experiências com lideraça de equipes, arquitetura e desenvolvimento de software e também o ensino de programação.

        Em meu background técnico venho aprimorando minhas habilidades em C#, .net Core, Asp.net MVC, Asp.net Web Api, HTML, CSS e JavaScript, além de frameworks
        modernos como Angular.

        Estou sempre buscando aprender, evoluir e contribuir para projetos que desafiem minha capacidade.
      </p>
    </div>

    <img src="assets/quote.png" width="40%" class="quote" alt="Quote">

  </article>

</section>
