<section id="banner" class="container rounded-4 mt-3 p-3">

  <div class="d-flex justify-content-between align-items-center">

    <div class="px-3">
      <div class="textContent fs-5">
        <p class="fs-2 text-white">Olá, eu sou Alexandre Rech</p>
        <span class="banner-text d-block fs-1 fw-bold lh-sm">Desenvolvedor</span>
        <span class="banner-text fs-1 fw-bold lh-sm">Fullstack</span>
      </div>
      <a class="btn btn-primary mt-3" href="#contato">Contate me</a>
      <div class="links mt-3 d-flex">
        <a target="_blank">
          <img alt="Github logo" width="80%" src="assets/github.png" />
        </a>
        <a target="_blank">
          <img alt="Linkedin logo" width="80%" src="assets/linkedin.png"></a>
      </div>
    </div>

    <div class="bg-foto d-none d-sm-none d-md-block">
      <img src="assets/rech2.png" width="90%" alt="Foto Rech">
    </div>

  </div>
</section>
