<main id="app">

  <section id="header" class="container rounded-4 mt-5">

    <nav class="navbar  navbar-expand-md navbar-expand-lg " data-bs-theme="dark">

      <div class="container-fluid">
        <a class="navbar-brand px-2" href="#">
          <img src="assets/bootstrap-logo.svg" alt="Bootstrap" width="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contato</a>
            </li>
          </ul>
        </div>
      </div>

    </nav>

  </section>

  <section id="banner" class="container rounded-4 mt-3 p-3">

    <div class="d-flex justify-content-between align-items-center">

      <div class="px-3">
        <div class="textContent fs-5">
          <p class="fs-2 text-white">Olá, eu sou Alexandre Rech</p>
          <span class="banner-text d-block fs-1 fw-bold lh-sm">Desenvolvedor</span>
          <span class="banner-text fs-1 fw-bold lh-sm">Fullstack</span>
        </div>
        <a class="btn btn-primary mt-3" href="#contato">Contate me</a>
        <div class="links mt-3 d-flex">
          <a target="_blank">
            <img alt="Github logo" width="80%" src="assets/github.png" />
          </a>
          <a target="_blank">
            <img alt="Linkedin logo" width="80%" src="assets/linkedin.png"></a>
        </div>
      </div>

      <div class="bg-foto d-none d-sm-none d-md-block">
        <img src="assets/rech2.png" width="90%" alt="Foto Rech">
      </div>

    </div>
  </section>

  <section id="sobre" class="container rounded-4 mt-5 p-3">

    <article class="d-flex justify-content-between align-itens-center mb-2">

      <div class="d-flex flex-column ps-3 border-start border-white border-3">
        <p class="text-white fs-2">Sobre Mim</p>
        <span class="text-white fw-bolder fs-1 lh-sm">Sou um Desenvolvedor</span>
        <span class="text-white fw-bolder fs-1 lh-sm">Fullstack</span>
        <p class="text-white fs-5 mt-4">Olá, sou o Fulano, um jovem de 40 anos apaixonado por futebol, tecnologia e
          cerveja.
          Com foco em programação e uma jornada de X anos cursando a faculdade de Engenharia de Software na Universidade
          ABC e
          aprimorando minhas habilidades em C#, .net Core, Asp.net MVC, HTML, CSS e JavaScript, além de frameworks
          modernos como Angular, busco integrar uma equipe de desenvolvimento
          onde possa aplicar minhas competências técnicas. Meu objetivo é criar interfaces intuitivas e experiências de
          usuário envolventes, alavancando boas práticas de design para desenvolver soluções eficientes e acessíveis.
          Estou sempre buscando aprender, evoluir e contribuir para projetos que desafiem minha capacidade.
        </p>
      </div>

      <img src="assets/quote.png" width="40%" class="quote" alt="Quote">

    </article>

  </section>

  <section id="skills" class="container rounded-4 mt-5 p-3">

    <article id="skills" class="mb-5">

      <span class="text-white fw-bold fs-1 mt-5 ps-3">Skills</span>

      <p class="text-white fs-5 mt-3 ps-3">
        Aqui, você poderá conhecer as principais habilidades que desenvolvi ao longo da minha jornada como
        desenvolvedor.
        Abaixo apresento as ferramentas, frameworks e tecnologias que utilizo para criar projetos robustos e eficientes.
      </p>

      <div class="mt-5 d-flex flex-wrap gap-3 justify-content-center align-items-center">


        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=html&theme=light" alt="">
          <span class="text-white">HTML</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=css&theme=light" alt="">
          <span class="text-white">CSS3</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=bootstrap&theme=light" alt="">
          <span class="text-white">Bootstrap</span>
        </div>


        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=js&theme=light" alt="">
          <span class="text-white">JavaScript</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=ts&theme=light" alt="">
          <span class="text-white">TypeScript</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=angular&theme=light" alt="">
          <span class="text-white">Angular</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=cypress&theme=light" alt="">
          <span class="text-white">Cypress</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=git&theme=light" alt="">
          <span class="text-white">Git</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=github&theme=light" alt="">
          <span class="text-white">Github</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=vscode&theme=light" alt="">
          <span class="text-white">VS Code</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=cs&theme=light" alt="">
          <span class="text-white">C#</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=net&theme=light" alt="">
          <span class="text-white">.net Core</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="85" class="rounded-4" src="assets/sql-server-icon.png" alt="">
          <span class="text-white">Sql Server</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=postman&theme=light" alt="">
          <span class="text-white">Postman</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=selenium&theme=light" alt="">
          <span class="text-white">Selenium</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=docker&theme=light" alt="">
          <span class="text-white">Docker</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=azure&theme=light" alt="">
          <span class="text-white">Azure</span>
        </div>

        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" src="https://skillicons.dev/icons?i=visualstudio&theme=light" alt="">
          <span class="text-white">Visual Studio</span>
        </div>


      </div>

    </article>

  </section>

  <app-voltar-topo></app-voltar-topo>

  <section id="portfolio" class="container rounded-4 mt-5 p-3">
    <span class="text-white fw-bold fs-1 mt-5 ps-3">Portfólio</span>
    <p class="text-white fs-5 mt-3 ps-3">
      Nesta seção, apresento os projetos dos quais participei e que refletem minha experiência e habilidades como
      desenvolvedor. Ao clicar em cada card, um modal será exibido, proporcionando uma visualização detalhada do
      funcionamento de cada projeto.
      Cada trabalho representou uma oportunidade de aprendizado e inovação!
    </p>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="d-flex justify-content-center align-items-center h-100 p-2">
            <div class="card w-100 w-md-80 w-lg-65">
              <div class="card-header">
                <label>Locadora de Veículos</label>
              </div>
              <img src="assets/sistema-locadora.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title d-flex gap-2">
                  <img width="35" src="https://skillicons.dev/icons?i=html&theme=light" alt="HTML">
                  <img width="35" src="https://skillicons.dev/icons?i=css&theme=light" alt="CSS">
                  <img width="35" src="https://skillicons.dev/icons?i=cs&theme=light" alt="C#">
                  <img width="35" src="https://skillicons.dev/icons?i=net&theme=light" alt=".NET">
                  <img width="35" src="https://skillicons.dev/icons?i=selenium&theme=light" alt="Selenium">
                </h5>
                <p class="card-text">
                  O Sistema para Locadoras de Automóveis facilita a administração de operações,
                  abrangendo o cadastro de
                  funcionários, veículos, clientes e realização de aluguéis e devoluções de carros.
                  Empresas poderão realizar tarefas operacionais, como o registro
                  de locações e
                  veículos. O sistema calcula o valor dos aluguéis considerando o tipo de veículo, plano escolhido e
                  taxas adicionais,
                  além de permitir a aplicação de multas por atraso e o ajuste de preços. O objetivo é
                  otimizar a gestão e
                  proporcionar uma experiência eficiente para todos os envolvidos.
                </p>
                <div class="d-flex gap-1">
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modal-locadora-veiculos">Ver
                    Projeto</a>
                  <a href="#" class="btn btn-dark">Repositório</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="d-flex justify-content-center align-items-center h-100 p-2">
            <div class="card w-100 w-md-80 w-lg-65">
              <div class="card-header">
                <label>Controle de Cinema</label>
              </div>
              <img src="assets/sistema-cinema.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title d-flex flex-wrap gap-2">
                  <img width="35" src="https://skillicons.dev/icons?i=html&theme=light" alt="HTML">
                  <img width="35" src="https://skillicons.dev/icons?i=css&theme=light" alt="CSS">
                  <img width="35" src="https://skillicons.dev/icons?i=cs&theme=light" alt="C#">
                  <img width="35" src="https://skillicons.dev/icons?i=net&theme=light" alt=".NET">
                  <img width="35" src="https://skillicons.dev/icons?i=selenium&theme=light" alt="Selenium">
                </h5>
                <p class="card-text">
                  O Sistema de Controle de Cinemas foi criado para otimizar a gestão de ingressos e salas no Cinema de
                  Lages. Ele permite
                  que os funcionários registrem e gerenciem informações das salas, filmes e sessões, facilitando o
                  controle da capacidade
                  e a venda de ingressos. Com funcionalidades de cadastro, consulta, alteração e remoção de sessões, o
                  sistema organiza as
                  exibições do dia e apresenta detalhes sobre as poltronas disponíveis e vendidas, agilizando o
                  atendimento e melhorando a
                  experiência dos clientes.
                </p>
                <div class="d-flex gap-1">
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-controle-cinema">Ver
                    Projeto</a>
                  <a href="#" class="btn btn-dark">Repositório</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div class="d-flex justify-content-center align-items-center h-100 p-2">
            <div class="card w-100 w-md-80 w-lg-65">
              <div class="card-header">
                <label>Controle de Bar</label>
              </div>
              <img src="assets/sistema-bar.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title d-flex flex-wrap gap-2">
                  <img width="35" src="https://skillicons.dev/icons?i=html&theme=light" alt="HTML">
                  <img width="35" src="https://skillicons.dev/icons?i=css&theme=light" alt="CSS">
                  <img width="35" src="https://skillicons.dev/icons?i=cs&theme=light" alt="C#">
                  <img width="35" src="https://skillicons.dev/icons?i=net&theme=light" alt=".NET">
                  <img width="35" src="https://skillicons.dev/icons?i=selenium&theme=light" alt="Selenium">
                </h5>
                <p class="card-text">
                  O Sistema de Gerenciamento para Restaurantes permite que garçons registrem e gerenciem pedidos nas
                  mesas, possibilitando
                  a adição e remoção de produtos em contas específicas. Além disso, os funcionários podem cadastrar
                  produtos, mesas e
                  garçons. O sistema oferece relatórios diários de faturamento e permite visualizar contas em aberto,
                  além de acompanhar o
                  total faturado no dia, semana e mês, proporcionando uma gestão eficiente das operações e do desempenho
                  financeiro do
                  restaurante.
                </p>
                <div class="d-flex gap-1">
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-controle-bar">Ver
                    Projeto</a>
                  <a href="#" class="btn btn-dark">Repositório</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center mt-3 gap-2 mb-3">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
        class="btn btn-primary btn-sm" aria-current="true" aria-label="Slide 1">Projeto 1</button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        class="btn btn-primary btn-sm" aria-label="Slide 2">Projeto 2</button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        class="btn btn-primary btn-sm" aria-label="Slide 3">Projeto 3</button>
    </div>

  </section>

  <section id="contato" class="container rounded-4 mt-5 pt-5 pb-5">

    <div class="text-center">
      <span class="text-white fw-bold fs-1 mt-5">Contato</span>
    </div>

    <div class="d-flex ps-md-5 align-items-center mt-4">

      <div class="icone d-flex justify-content-center align-items-center mt-1 mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#fff"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone">
          <path
            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
          </path>
        </svg>
      </div>
      <span class="text-white ps-2">(49) 9 9929-2107</span>

    </div>

    <div class="d-flex ps-md-5 align-items-center">

      <div class="icone d-flex justify-content-center align-items-center mt-1 mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#fff"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail">
          <rect width="20" height="16" x="2" y="4" rx="2"></rect>
          <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
        </svg>
      </div>
      <span class="text-white ps-2">rech&#64;academiadoprogramador.net</span>

    </div>

    <div class="d-flex ps-md-5 align-items-center">

      <div class="icone d-flex justify-content-center align-items-center mt-1 mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#fff"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned">
          <path d="M18 8c0 4.5-6 9-6 9s-6-4.5-6-9a6 6 0 0 1 12 0"></path>
          <circle cx="12" cy="8" r="2"></circle>
          <path
            d="M8.835 14H5a1 1 0 0 0-.9.7l-2 6c-.1.1-.1.2-.1.3 0 .6.4 1 1 1h18c.6 0 1-.4 1-1 0-.1 0-.2-.1-.3l-2-6a1 1 0 0 0-.9-.7h-3.835">
          </path>
        </svg>
      </div>
      <span class="text-white ps-2">Lages - SC - Brasil</span>

    </div>

    <div class="mt-3 d-flex ps-md-5">
      <a target="_blank">
        <img alt="Github logo" width="80%" src="assets/github.png" />
      </a>
      <a target="_blank">
        <img alt="Linkedin logo" width="80%" src="assets/linkedin.png"></a>
    </div>

  </section>

  <div id="modal-locadora-veiculos" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog " st>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Locadora de Veículos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img src="assets/locadora-veiculos.gif" alt="">
        </div>
      </div>
    </div>
  </div>

  <div id="modal-controle-cinema" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog " st>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Controle de Cinema</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img src="assets/controle-cinema.gif" alt="">
        </div>
      </div>
    </div>
  </div>

  <div id="modal-controle-bar" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog " st>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Controle de Bar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img src="assets/controle-bar.gif" alt="">
        </div>
      </div>
    </div>
  </div>

</main>