#portfolio {
  background: var(--secao-bg-color);
  box-shadow: var(--secao-box-shadow);
}

@media (min-width: 768px) {
  .w-md-80 {
    width: 80% !important;
  }
}

@media (min-width: 992px) {

  .w-lg-65 {
    width: 65% !important;
  }
}
