#portfolio {
  background: rgba(29, 29, 29, .22);
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, .15);
}

@media (min-width: 768px) {
  .w-md-80 {
    width: 80% !important;
  }
}

@media (min-width: 992px) {

  .w-lg-65 {
    width: 65% !important;
  }
}
