/* You can add global styles to this file, and also import other style files */

@import "bootstrap";
@import "bootstrap-icons";

body {
  background-color: #414141;
}

:root {
  --secao-bg-color: rgba(29, 29, 29, .22);
  --secao-box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, .15);
}
